doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    style.
      body {
        margin: 0;
        padding: 0;
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
        background-color: black;
      }

      .centered-black-bg {
        background-color: black;
        color: white;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 20px;
        font-family: Arial, sans-serif;
      }

      .hover-animate {
        background: linear-gradient(
          90deg,
          red,
          orange,
          yellow,
          green,
          cyan,
          blue,
          violet,
          red
        );
        background-size: 800% 100%;
        background-repeat: repeat;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
        animation: rainbowShift 30s linear infinite;
        animation-play-state: paused;
        font-size: 60px;
        cursor: pointer;
      }

      .hover-animate:hover {
        transform: scale(1.2);
        animation-play-state: running;
      }

      @keyframes rainbowShift {
        0% {
          background-position: 0% 0%;
        }
        100% {
          background-position: 800% 0%;
        }
      }
  body
    block content
